{% include "snippets/base.html" %}
{% load staticfiles %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/l/destination.css' %}">{% endblock %}

    {% block content_block %}
      <div class="par">
      {% for item in items %}
      <div class="ca">
        <div class="co">
          <img src="{{ item.images.url }}">
        </div>
        <div class="mo">
          <div class="info-bundle">
            <p class="title">{{item.place}}</p>
            <a target="_blank" href="{% url 'customer:user_detail_page' pk=item.pk %}">See more</a>
            <input hidden readonly="readonly" type="number" value="{{item.id}}">
            <br>
            <br>
            <button type="button">Add To Itinerary</button>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    <form id="test" action="{% url 'customer:custom_itinerary' %}" method="POST">
      {% csrf_token %}
      <input class="btn btn-primary btn-lg btn pull-right" type="submit" value="Submit Choices">
    </form>
    <a class="test btn btn-primary btn-lg btn pull-right" id="tests" href="{% url 'customer:custom_itinerary' %}">Next</a>

{% endblock %}
