<div style="position: relative">
        <footer class= "footer" style=" position :fixed; 
        width: 100%;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 60px;
        color: white;">
            <div style="position: absolute; right: 20px; font-family: sans-serif; color:lightgray; letter-spacing: 2px; padding: 10px;">
                <div><a style="font-size: 15px;"href="{% url 'app:findus' %}"><strong>Terms & conditions</strong></a></div>
                <div> Camping Co. @ 2018</div>
            </div>
        </footer>
</div>