{% include "snippets/base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/vehicles.css' %}"> {% endblock %} {% block content_block %}
<div class="fix">
  <hr>
  <h3>Our Rooms</h3>
  <hr>

    <div class="clear">
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="text" placeholder="Check-In" name="Check" class="datetimepicker lol">
            <input type="text" placeholder="Check-Out" name="Check" class="datetimepicker lol">
            <input type="number" placeholder="Adults" name="Adult" class="lol">
            <input type="submit" value="search" class="myButton btn btn-primary">
        </form>
    </div>

      <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'images/19.jpeg' %}" alt="sad">
        </div>

        <div class="col-lg-6 super">
          <h3>Thar 4x4</h3>
        <span>Located in Guwahati & Shillong we are the gateway to some of the best camping sites,</span>
        <span>trekking trails and waterfalls this side of the world has to offer</span>
        <ul>
          <li>Beds: 1 Queen(s)</li>
        </ul>
        </div>
        <div class="col-lg-3 gavar">
            <p>From</p>
        <span>Rs2999</span>
        <br>
            <button onclick= "location.href = '{% url 'vehicle:vehicle1' %}';" class="myButton btn btn-primary">More Info</button>
        {% if user.is_authenticated %}
            <button onclick="location.href = '{% url 'customer:user_page' %}';" class="myButton btn btn-primary">Book Now</button>
        {% else %}
            <button onclick="location.href = '{% url 'register:signin' %}';" class="myButton btn btn-primary">Book Now</button>
        {% endif %}
        </div>
    </div>

        <div class="col-lg-12 circle">
          <span title="BBQ"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Charging Point"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Luxary Foam Matress"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Pillows"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Quilts"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Toilets"><i class="fas fa-check-circle fa-lg"></i></span>
        </div>

    <hr>
    <hr>

          <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'images/20.jpg' %}" alt="sad">
        </div>

        <div class="col-lg-6 super">
            <h3>TIME MACHINE - XENON XT</h3>
        <span>Located in Guwahati & Shillong we are the gateway to some of the best camping sites,</span>
        <span>trekking trails and waterfalls this side of the world has to offer</span>
        <ul>
          <li>Beds: 1 Queen(s)</li>
        </ul>
        </div>
        <div class="col-lg-3 gavar">
            <p>From</p>
        <span>Rs2999</span>
        <br>
        <button onclick= "location.href = '{% url 'vehicle:vehicle2' %}';" class="myButton btn btn-primary">More Info</button>
        {% if user.is_authenticated %}
            <button onclick="location.href = '{% url 'customer:user_page' %}';" class="myButton btn btn-primary">Book Now</button>
        {% else %}
            <button onclick="location.href = '{% url 'register:signin' %}';" class="myButton btn btn-primary">Book Now</button>
        {% endif %}
        </div>
    </div>

        <div class="col-lg-12 circle">
          <span title="BBQ"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Charging Point"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Luxary Foam Matress"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Pillows"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Quilts"><i class="fas fa-check-circle fa-lg"></i></span>
          <span title="Toilets"><i class="fas fa-check-circle fa-lg"></i></span>
        </div>
    <hr>
    <hr>
</div>
<script>
    $(".datetimepicker").datetimepicker({
     timepicker:false,
     format:'d.m.Y'
     });
</script>
{% endblock %}
