header{
    /* background-color: rgba(0,0,0,0.4); */
    font-family: sans-serif;
    letter-spacing: 2px;

}
.navbar {
      padding: 0px 5px;
      margin-bottom: 60px;  
      background-color: rgba(0,0,0,0.5);  
      border-radius:0 !important; 
}

.navbar-inverse{
  border: none !important;
}

.navbar-brand {
        margin-right: 30px;
        font-size: 20px;
        letter-spacing: 6px;
        font-weight: 500;
        font-family: sans-serif;
        color: white !important;
}
     
.nav-item{
        font-size: 15px;
        font-weight: 420;
        margin-left: 10px;
      }
           
        
.navbar-link {
          color: white !important;
          
        }
