h3 {
    color: #ececec;
    font-weight: bolder;
}

h1 {
  color: steelblue;
  font-weight: bolder;
}

body {
    color: steelblue;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
}

.fix {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#apple{
  position: absolute;
  background: rgba(0, 0, 0, 0);
  margin: 300px auto;
  left: 300px;
  z-index: 1;
  border: 10px solid rgba(0, 0, 0, 0.3);
}

.email,.date,#list,.btn {
  width: 200px;
  height: 50px;
}

a {
    color: white;
}

.nav>li>a:hover {
    background-color: transparent;
    color: white;
}
.navbar-header>a:hover {
    background-color: transparent;
    color: white;
}

.navbar-header>a {
letter-spacing: 2px;
}

#list, .email {
    color: #555;
}