body {
    color: #243551;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    padding-top: 100px;

}

a {
    color: #243551;
}

.nav>li>a:hover {
    background-color: transparent;
    color: #243551;
}

.navbar-header>a:hover {
    background-color: transparent;
    color: #243551;
}

.navbar-header>a {
letter-spacing: 2px;
}

.navbar-fixed-top{
    margin-bottom: 25px;
}

.fix {
    max-width: 1200px;
    text-align: center;
}

.stl {
    margin: 20px auto;
  width: 40%;
}