body {
    color: #243551;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-image : url(../images/IMG_3135.JPG);
    background-repeat: no-repeat;
}
label{
    color: white;
}
.fix {
    max-width: 1200px;
    text-align: center;
}

.stl {
    margin: 20px auto;
  width: 40%;
}
