.car{

    
    height: 350px;
    border: solid lightgrey 2px;
    border-radius: 20px;
    margin: 30px 0;
}
.carousel{
    max-width: 100%;
    width: 400px;
    height: 280px;
    margin: 20px;
    border: solid lightgrey 2px;
    border-radius: 20px;
    overflow: hidden;
    
}
.info1, .info2{
    width: 600px;
    margin: 30px;
}
.desc{
    width: 1070px;
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 30px 20px 20px 40px;
}


