
.col{
    width: 520px;
    border: grey solid 2px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
    letter-spacing: 0.8px;
}
h3, h5{
    text-align: center;
}

iframe{
    width: 330px;
    height: 180px;
    margin: 9px 80px;
}